<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Message Form</title>
</head>
<body>
<h1>Message Form</h1>
<form th:action="@{/processmessage}" th:object="${message}" method="post">
    <input type="hidden" th:field="*{id}" />
    <input type="hidden" th:field="*{date}" />
    <input type="text" placeholder="Title" th:field="*{title}" />
    <input type="date" name="date" />
    <textarea placeholder="description" th:field="*{description}">
    </textarea>
    <input type="submit" onclick="confirmation()" value="Submit">
</form>
<!--<script th:src="@{/js/alerts.js}"></script>-->
</body>
</html>